.form-section {
  width: 100%;
  height: 15vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #ffffff;
  background: -webkit-gradient(linear, left top, left bottom, from(#131212), to(#53545e));
  background: linear-gradient(#131212, #53545e);
  border-radius: 0 0 60px 60px;
}

.form-section__form__input {
  font-weight: 600;
  font-size: 16px;
  text-align: center;
  width: 324px;
  height: 47px;
  border: 1px solid #727272;
  border-radius: 8px 0 0 8px;
  -webkit-box-shadow: 0px 2px 5px 2px #1f1d1d;
          box-shadow: 0px 2px 5px 2px #1f1d1d;
}

.form-section__form__button {
  color: white;
  background-color: rgba(19, 19, 28, 0.686);
  outline: none;
  font-weight: 600;
  font-size: 16px;
  margin-bottom: 1px;
  height: 51px;
  border: 1px solid #727272;
  border-radius: 0 8px 8px 0;
  -webkit-box-shadow: 0px 2px 5px 2px #1f1d1d;
          box-shadow: 0px 2px 5px 2px #1f1d1d;
}

.form-section__suggestion {
  text-align: center;
  width: 324px;
  position: absolute;
  top: 100px;
  height: 88px;
  overflow: hidden;
}

.form-section__suggestion__text {
  background: #e5e5e5;
  border-radius: 0 0 3px 3px;
}

.starting-card-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1570px;
  margin: auto;
}

.selected-card-section {
  margin-top: 25px;
}

.selected-card {
  margin-top: 200px;
  -webkit-box-shadow: 0px 4px 20px 5px #c2c0c0;
          box-shadow: 0px 4px 20px 5px #c2c0c0;
  border-radius: 12px;
  padding: 40px;
  width: 400px;
  height: 850px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  position: relative;
}

.selected-card__image-wrapper__image {
  position: absolute;
  top: -20px;
  left: 0;
  right: 0;
  margin: 0 auto;
  height: 220px;
  width: 220px;
}

.selected-card__wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.selected-card__wrapper__content {
  font-family: sans-serif;
  font-weight: 600;
  margin: 10px 0;
}

.selected-card__stat-wrapper {
  width: 100%;
}

.selected-card__stat-wrapper__ability-list {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin: 15px 0;
}

.selected-card__stat-wrapper__ability-list__abilities {
  background-color: blue;
  color: white;
  width: 25%;
  text-align: center;
  border-radius: 8px;
  line-height: 30px;
  font-weight: 600;
}

.selected-card__stat-wrapper__stat-list-wrapper__stat-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.selected-card__stat-wrapper__stat-list-wrapper__stat-list__stat {
  font-family: sans-serif;
  font-weight: 700;
  margin: 10px 0;
  border-radius: 5px;
}

.starting-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 25px auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 200px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: 0px 4px 20px 5px #efefef;
          box-shadow: 0px 4px 20px 5px #efefef;
  border-radius: 8px;
  background: linear-gradient(217deg, rgba(255, 0, 0, 0.8), rgba(255, 0, 0, 0) 70.71%), linear-gradient(127deg, rgba(0, 255, 0, 0.8), rgba(17, 107, 17, 0) 70.71%), linear-gradient(336deg, rgba(0, 0, 255, 0.8), rgba(0, 0, 255, 0) 70.71%);
}

.starting-cards__header {
  color: white;
  font-family: sans-serif;
  text-align: center;
  font-weight: 800;
}
/*# sourceMappingURL=App.css.map */